<header style="font-family: '微软雅黑';margin-bottom: 20px;">
	<div class="navbar" style="border-bottom:solid 1px #8F8F94;">
		<div class="container">
			<a class="index-ico" href="/blogs/index.html">Sun</a>
			<div class="collapse navbar-collapse" style="float: right;">
				<ul class="nav navbar-nav" id="head-nav-one">
					<li class="active">
						<a href="/blogs/index.html">首页</a>
					</li>
					<li>
						<a href="/admin/addArticle.html">新增文章</a>
					</li>
					<li>
						<a href="/admin/articleManage.html">文章列表</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3 pull-right"><input type="text" placeholder="搜索" class="form-control" style="margin-top: 9px;" /></div>
		</div>
	</div>
</header>