<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="hello">
		<meta name="keywords" content="hello">
		<title>弱智回复器</title>

		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/my_page.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
		<style type="text/css">
			#dialog {
				background-color: gray;
				height: 30px;
				margin-top: 50px;
				filter: alpha(opacity=50);
				-moz-opacity: 0.5;
				-khtml-opacity: 0.5;
				opacity: 0.5;
			}
		</style>
	</head>

	<body>
		#parse("head.vm")
		<div id="dialog" class="text-center" style="margin-bottom: 150px;">
			<p3 style="font-size: 20px;">建议开启手机定位使用</p3>
			<p3 style="font-size: 20px;float: right;" id="dialog-close">关闭</p3>
		</div>
		<div id="robot-div">
			<div class="form-group">
				<input type="text" class="form-control" name="info" placeholder="请输入聊天内容" id="robot-info" />
				<input type="text" class="form-control" name="address" id="robot-address" style="display: none;" />
			</div>
			<button class="btn btn-danger col-sm-2" id="robot-submit" style="float: right;">提交</button>
			<div id="robot-content"></div>
		</div>
	</body>

</html>
